{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavSight</title>
    <link rel="stylesheet" href="{% static 'admin/css/eight.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>NavSight</h2>
            <ul>
                <li> <span class="icon">🏠<a href={% url "navigatorhome"%}>Home</a></span></li>
                <li><span class="icon">📍</span><a href={% url "location" %}>Location</a></li>
            </ul>
            <button class="logout-btn">Log Out</button>
            <script>
                document.querySelector('.logout-btn').addEventListener('click', function() {
                    window.location.href = '/';  // Redirect to the home page
                });
            </script>
        </div>
        <div class="main-content">
            <div class="welcome-section">
                <h1>Welcome {{username}}</h1>
                <p>YOU ARE NAVIGATING <strong>{{unique_id}}</strong></p>
            </div>
            <div class="map-section">
                <img src="map-placeholder.png" alt="Map">
            </div>
        </div>
        <div class="flag-history">
            <h3>Flag History</h3>
        </div>
    </div>
</body>
</html>
