<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLO Object Detection</title>
    <link rel="stylesheet" href="{% static 'admin/css/ten.css' %}">
</head>
<body>
    <div class="container">
        <video id="video" autoplay></video>
        <canvas id="canvas" style="display: none;"></canvas>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const video = document.getElementById('video');
            const canvas = document.getElementById('canvas');
            const context = canvas.getContext('2d');
            let detectedObjects = new Set();

            // Access the user's camera
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    video.srcObject = stream;
                    video.onloadedmetadata = () => {
                        setInterval(captureImage, 500); // Capture the image every 500 milliseconds
                    };
                })
                .catch(error => console.error('Error accessing media devices.', error));

            function captureImage() {
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                const imageData = canvas.toDataURL('image/png');
                sendImageToBackend(imageData);
            }

            function sendImageToBackend(imageData) {
                fetch('/yolo/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ image: imageData })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        console.error('Error from server:', data.error);
                        return;
                    }
                    const newObjects = data.new_objects;
                    newObjects.forEach(object => {
                        if (!detectedObjects.has(object)) {
                            detectedObjects.add(object);
                            textToSpeech(object);
                        }
                    });
                })
                .catch(error => console.error('Error:', error));
            }

            function textToSpeech(text) {
                const utterance = new SpeechSynthesisUtterance(text);
                speechSynthesis.speak(utterance);
            }
        });
    </script>
</body>
</html>
