body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #003366;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.logo-icon {
    font-size: 24px;
    margin-left: 10px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-bottom: 30px;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
}

.logout {
    margin-top: auto;
}

.logout-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.main-content {
    flex-grow: 1;
    padding: 50px;
    background-color: white;
}

.main-content h1 {
    font-size: 36px;
    color: #003366;
}
